@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./body_style.css');

.img{
    width: 100%;
    height: 230px;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
    .opacity {
        width: 100%;
        height: 230px;
        background-color: black;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.align-content{
    padding: 50px 70px;

    .content{
        .input-text{
            input{
                width: 100%;
                height: 50px;
                font-size: 20px;
                margin-top: 20px;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }
    }

    .button{
        .button-register{
            button{
                width: 100%;
                height: 50px;
                font-size: 20px;
                margin-top: 20px;
                background-color: #262626;
                border:none;
                color: white;
            }
        }
    }

    .back-login{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        a{
            text-decoration: none;
            color:black;
        }
    }
}