@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../body/body.css');

body{
    padding: 10%;
}

.execution{
    margin-top: 100px;
    
    .title{
        display: flex;
        justify-content: center;
        
        span{
            font-size: 50px;
        }
    }

    .carrossel{
        display: flex;
        justify-content: center;
        margin-top: 25px;

        img{
            width: 80%;
        }

        i{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .quantity-execution{
        display: flex;
        justify-content: center;

        span{
            font-size: 50px;
        }
    }
}

.button{
    
    span{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}