@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../body/body.css');

.img{
    width: 100%;
    height: 320px;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
    .opacity {
        width: 100%;
        height: 320px;
        background-color: black;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.align-content{
    padding: 50px 70px;

    .text{
        font-size: 12px;
        margin-top: 10px;
    }
}