@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../body/body.css');

body{
    padding: 10%;
}

.trainings{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    img{
        width: 30%;
    }
        
    .training-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20%;

        span{
            font-size: 15px;
        }
    }

    i{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}